{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class="container-fluid">
    <div class="py-3 ">
        <!-- <div class="container-fluid  p-3 mb-2" style="background-color: #eee;">
            <div class="d-flex justify-content-end">
                
                <div class="mr-1">
                    <a class="btn btn-primary" href="#">Add task</a>
                </div>
                {% if permission %}
                <div class="m<div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Basic Bar Chart</h4>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="barChart_1"></canvas>
                                    </div>
                                </div>r-1">
                    <a class="btn btn-primary" href="#">Create Entrprise</a>
                </div>
                {%endif%}
            </div>

        </div> -->
        <div class="row d-flex justify-content-start">
            {%if tasks%}
            {%for task in tasks%}
            <div class="col-md-4">
                <div class="card shadow mb-3 " style="width: 24rem; border-left:2px solid #00FF00; height: 160px;">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5 class="card-title mt-1" style="color: #858585;">{{task.title}}</h5>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-outline-secondary"
                                    onclick="update_time_left({{task.id}})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
                                        class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z">
                                        </path>
                                        <path
                                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <span style="color: #bdb8b8;">Owner :</span> {{task.owner.username}}
                            </div>
                            <div>
                                <span style="color: #bdb8b8;">Start time :</span> {{task.start_time}}
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <div>
                                <span style="color: #bdb8b8;">Time left :</span> {{task.time_left}}
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <div>
                                <a href="#" class="btn btn-sm btn-outline-primary">See details</a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            {%endfor%}
            {%endif%}

        </div>

    </div>
    {% if user.is_staff %}
    <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Gradient Line Chart</h4>
                </div>
                <div class="card-body">
                    <canvas id="lineChart_2"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endif %}




</div>


<!-- Script to update time left in html page -->
<script>
    function update_time_left(pk) {
        console.log(pk);
        console.log("task_in_page/%s/update" % pk);
        var data = {};
        $.ajax({
            url: "task_in_page/3/update",
            type: 'GET',
            data: data,
            dataType: 'json',
            success: function (resp) {
                $('#time_left').html(resp.html);
                console.log(resp);
                console.log(resp.html);
            }
        }).fail(function () {
            alert("error");
        })
            ;
    }

</script>

<!-- Script to line chart -->
<script>
    let draw = Chart.controllers.line.__super__.draw; //draw shadow
    const lineChart_2 = document.getElementById("lineChart_2").getContext('2d');
    //generate gradient
    const lineChart_2gradientStroke = lineChart_2.createLinearGradient(500, 0, 100, 0);
    lineChart_2gradientStroke.addColorStop(0, "rgba(26, 51, 213, 1)");
    lineChart_2gradientStroke.addColorStop(1, "rgba(26, 51, 213, 0.5)");

    Chart.controllers.line = Chart.controllers.line.extend({
        draw: function () {
            draw.apply(this, arguments);
            let nk = this.chart.chart.ctx;
            let _stroke = nk.stroke;
            nk.stroke = function () {
                nk.save();
                nk.shadowColor = 'rgba(0, 0, 128, .2)';
                nk.shadowBlur = 10;
                nk.shadowOffsetX = 0;
                nk.shadowOffsetY = 10;
                _stroke.apply(this, arguments)
                nk.restore();
            }
        }
    });

    lineChart_2.height = 100;

    new Chart(lineChart_2, {
        type: 'line',
        data: {
            defaultFontFamily: 'Poppins',
            labels: {{ labels| safe }},
        datasets: [
        {
            label: "My First dataset",
            data: {{ data| safe }},
        borderColor: lineChart_2gradientStroke,
        borderWidth: "2",
        backgroundColor: 'transparent',
        pointBackgroundColor: 'rgba(26, 51, 213, 0.5)'
                }
    ]
        },
        options: {
        legend: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    max: 100,
                    min: 0,
                    stepSize: 20,
                    padding: 10
                }
            }],
            xAxes: [{
                ticks: {
                    padding: 5
                }
            }]
        }
    }
    });

</script>

<script src="{% static 'main/vendor/global/global.min.js'%}"></script>
<script src="{% static 'main/js/quixnav-init.js'%}"></script>
<script src="{% static 'main/js/custom.min.js'%}"></script>

<script src="{% static 'main/vendor/chart.js/Chart.bundle.min.js'%}"></script>

{% endblock content %}