{%extends 'base.html'%}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>{{task.title}}</h3>
        </div>
        <div class="col-md-4">
            <p style="font-size: 1.2rem; margin-top: 0.45rem;"> <span style="color: #b3afaf;">Start at : </span>
                {{task.start_time}}</p>
        </div>
        <div class="col-md-5">
            <p style="font-size: 1.2rem; margin-top: 0.45rem;"><span style="color: #b3afaf;">Marked done at :
                </span>{{task.marked_done_at}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <p style="font-size: 1.2rem; margin-top: 0.45rem;"> <span style="color: #b3afaf;">Created by : </span>
                {{task.creator}}</p>
        </div>
        <div class="col-md-4">
            <p style="font-size: 1.2rem; margin-top: 0.45rem;"> <span style="color: #b3afaf;">Developed by: </span>
                {{task.owner}}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center m-3" style="width:23rem;  height:19rem">
        <canvas class="mb-3" id="myChart" width="150px" height="150px"></canvas>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ labels| safe }},
    datasets: [{
        label: '# of Votes',
        data: {{ data| safe }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
    ],
        borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>


{%endblock%}