{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}Task manager{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Yahya">
  <meta name="author" content="Yahya">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/favicon.png'%}">
  <link rel="stylesheet" href="{% static 'main/vendor/owl-carousel/css/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'main/vendor/owl-carousel/css/owl.theme.default.min.css'%}">
  <link href="{% static 'main/vendor/jqvmap/css/jqvmap.min.css'%}" rel="stylesheet">
  <link href="{% static 'main/css/style.css'%}" rel="stylesheet">
  {% endblock %}

  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}

<script src="{% static 'main/vendor/global/global.min.js'%}"></script>
<script src="{% static 'main/js/quixnav-init.js'%}"></script>
<script src="{% static 'main/js/custom.min.js'%}"></script>


<!-- Vectormap -->
<script src="{% static 'main/vendor/raphael/raphael.min.js'%}"></script>
<script src="{% static 'main/vendor/morris/morris.min.js'%}"></script>


<script src="{% static 'main/vendor/circle-progress/circle-progress.min.js'%}"></script>
<script src="{% static 'main/vendor/chart.js/Chart.bundle.min.js'%}"></script>

<script src="{% static 'main/vendor/gaugeJS/dist/gauge.min.js'%}"></script>

<!--  flot-chart js -->
<script src="{% static 'main/vendor/flot/jquery.flot.js'%}"></script>
<script src="{% static 'main/vendor/flot/jquery.flot.resize.js'%}"></script>

<!-- Owl Carousel -->
<script src="{% static 'main/vendor/owl-carousel/js/owl.carousel.min.js'%}"></script>

<!-- Counter Up -->
<script src="{% static 'main/vendor/jqvmap/js/jquery.vmap.min.js'%}"></script>
<script src="{% static 'main/vendor/jqvmap/js/jquery.vmap.usa.js'%}"></script>
<script src="{% static 'main/vendor/jquery.counterup/jquery.counterup.min.js'%}"></script>

<script src="{% static 'main/js/dashboard/dashboard-1.js'%}"></script>

{% endblock javascript %}


  <style>
    body {
      font-family: "Roboto", Sans-serif;
      color: #545E6C;
      background: #f5f5f5;
      font-size: 14px;
    }
  </style>


  <script src="https://kit.fontawesome.com/4d1ad48224.js" crossorigin="anonymous"></script>

</head>

<body>
  {%block top_nav%}
  <div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'main:landing_page' %}">Task Manager</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item mr-5">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link btn btn-sm btn-outline-primary" href="{% url 'main:all-tasks'%}">{% trans "All tasks" %}</a>
          </li>

          <li class="nav-item mr-3">
            {# URL provided by django-allauth/account/urls.py #}
            <a class="nav-link btn btn-sm btn-outline-danger" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
          </li>

          {% else %}
          <li class="nav-item mr-2">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="sign-up-link" class="nav-link btn btn-sm btn-outline-primary" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          </li>
          <li class="nav-item">
            {# URL provided by django-allauth/account/urls.py #}
            <a id="log-in-link" class="nav-link btn btn-sm btn-outline-success" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

  </div>
  {%endblock top_nav%}
  <div class="">

    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button"
        class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    {% endfor %}
    {% endif %}

    {% block content %}
    <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}

  </div> <!-- /container -->

  {% block modal %}
  {% endblock modal %}

  {% block inline_javascript %}
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>